.search-bar-container {
	display: flex;
	align-items: center;
}
.search-bar {
	height: 35px;
	width: 0;
	padding: 0;
	visibility: hidden;
	border: none;
	outline: none;
	transition: all 1s ease;
	font-size: large;
	background-color: black;
}

.search-btn {
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/442/657/non_2x/vector-search-icon.jpg');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	border: none;
	cursor: pointer;
	width: 35px;
	height: 35px;
}
.search-bar.visible {
	padding: 1%;
	visibility: visible;
	width: 170px;
	background-color: #fc3f3f;
	opacity: 0.78;
}
